
main {
   align-content: center;    
}

.line {
   width: 400px;
   height: 2px;
   background-color: #000;
   margin: 20px auto;
}

/* -----------------------JoeyKiesau---------------------- */
.joeykiesau {
   position: absolute;
   bottom: 350px; 
   left: 130px;
   text-align: left;
   font-size: 1.3em;
}

.joeykiesau h1 {
   position: absolute;
   margin: 0;
   padding: 0;
   bottom: 30%;
   font-size: 3em;
 
}

.joeykiesau p {
   position: absolute;
   max-width: 15em; 
   margin: auto; 
   margin-left: -.2em; 
   margin-top: -1em;
  
}


/* -----------------------JoeyKiesauPhotography---------------------- */
.joeykiesauphotography {
   position: absolute;
   bottom: 370px; 
   left: 450px; 
   text-align: left;
   font-size: 1.3em;
}

.joeykiesauphotography h1 {
   margin: 0;
   padding: 0;
   margin-bottom: -.45em;
   font-size: 3em;
 }

.joeykiesauphotography p {   
   max-width: 17em; 
   margin: auto;
   margin-top: -1em;  
}

.joeykiesauphotography span {
   font-size: 1.3em; 
   font-weight: bold;
   display: inline-block; 
   margin-right: 0.2em; 
}


/* -----------------------Images---------------------- */
.joeykiesauphotographyimages {
   position: absolute;
   bottom: 10%; 
   right: 10%; 
   width: 20%; 
   height: 40%; 
}

.image1, .image2, .image3 {
   position: absolute;
}

.image1 {
   bottom: 20%;
   left: -90%;
   width: 100%; 
   position: absolute;
}

.image2 {
   bottom: 70%;
   left: 10%; 
   transform: translateX(-50%);
   width: 70%; 
   position: absolute;
}

.image3 {
   bottom: 0;
   right: 0;
   width: 70%; 
   position: absolute;
}


