
.underline {
   position: absolute;
   top: 300px; 
}


/* -----------------------Images---------------------- */
.servicesimages {
   position: absolute;
   bottom: 10%; 
   right: 10%; 
   width: 30%; 
   height: 30%;
}

.image4, .image5, .image6 {
   position: absolute;
   width: 60%;
   height: 100%;
   border: 4em solid white; 
   border-radius: 3px; 
   border-top: 1em solid white;
   border-left: 1em solid white; 
   border-right: 1em solid white; 


}
.image4 {
   bottom: -20%;
   left: -180%;
}

.image5 {
   bottom: -50%;
   left: -50%;
   transform: translate(-50%, -50%); 
}

.image6 {
   bottom:67%;
   left: 10%;
}

.title {
   position: absolute;
   transform: translateX(-50%);
   padding: 5px 10px;
   border-radius: 5px; 
   text-align: center;
}

#events {
   position: absolute;
   bottom: -23%; 
   left: -147%;
   font-size: 3.5em;
   font-weight: bold;
   color: black; 
   
   
}
#products {
   position: absolute;
   bottom: 10%;
   left: -50%;
   font-size: 3.5em;
   font-weight: bold;
   color: black; 
   
}
#protraits {
   position: absolute;
   bottom: 66%;
   left: 42.7%;
   font-size: 3.5em;
   font-weight: bold;
   color: black; 
   
}
