
.underline {
   position: absolute;
   top: 300px; 
}


/* -----------------------Images---------------------- */
.servicesimages {
   position: absolute;
   bottom: 10%; 
   right: 10%; 
   width: 30%; 
   height: 30%;
}

.image4, .image5, .image6 {
   position: absolute;
   width: 60%;
   height: 100%;
   border: 4em solid white; 
   border-radius: 3px; 
   border-top: 1em solid white;
   border-left: 1em solid white; 
   border-right: 1em solid white; 


}

.image4 {
   bottom: -20%;
   left: -180%;
}

.image5 {
   bottom: -50%;
   left: -50%;
   transform: translate(-50%, -50%); 
}

.image6 {
   bottom:67%;
   left: 10%;
}

.title {
   position: absolute;
   transform: translateX(-50%);
   padding: 5px 10px;
   border-radius: 5px; 
   text-align: center;
}

#events {
   position: absolute;
   bottom: -23%; 
   left: -147%;
   font-size: 3.5em;
   font-weight: bold;
   color: black; 
   
   
}
#products {
   position: absolute;
   bottom: 10%;
   left: -50%;
   font-size: 3.5em;
   font-weight: bold;
   color: black; 
   
}

#protraits {
   position: absolute;
   bottom: 66%;
   left: 42.7%;
   font-size: 3.5em;
   font-weight: bold;
   color: black; 
   
}


/* MOBILE VERSION */
@media screen and (max-width: 768px) {
   .underline {
       position: static;
       margin-top: 1em;
       text-align: center;
       width: 20em;
       height: 20em;
       margin: 0 auto;
   }

   .servicesimages {
       position: static;
       width: 70%;
       margin: 20px auto;
       top: 100% !important;
       margin-top: -9em;
   
   }

   .image4, .image5, .image6 {
       position: static;
       width: 12em;
       height: 12em;
       border: none;
       border-radius: 0;
       transform: none;
       margin: 20px auto;
      
   }

   .title {
       position: static;
       transform: none;
       padding: 0;
       border-radius: 0;
       text-align: center;
      margin-top: -.5em !important;
   }

   #events, #products, #protraits {
       position: static;
       bottom: auto;
       left: auto;
       font-size: 2em;
       font-weight: bold;
       color: black;
       text-align: center;
       margin-top: 10px;
   }
}

