.albums-container {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 500% !important;
 
}
#album-title {
   top: 20%;
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5em;
    justify-items: center;
   margin-top: 20%;
}

.photo img {
    max-width: 100%;
}

.section-label-after {
    margin-top: 1em;
}

 /* Mobile Layout */
 @media screen and (max-width: 768px) {
    .albums-container {
        top: auto !important; 
        margin-top: 5em;
    }

    #album-title {
        top: 5%; 
        text-align: center;
    }

    .photo-grid {
        grid-template-columns: repeat(1, 1fr); 
        gap: 1em;
        margin-top: 10%; 
    }
}
